.article {
    display: flex;
    flex-direction: row;
    border: solid;
    align-items: center;
    padding: 2%;
    img {
        height: 200px;
        width: auto;
    }
    .articleInfo {
        h3, p {
            padding: 3%;
        }
    }
}

.info {
    display: flex;
}
